body {
    margin:0;
    cursor: default;
    font-size: 16px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
}
p {
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
}

.header {
    position:relative;
    text-align:center;
    /* background: linear-gradient(60deg, rgb(0, 100, 193) 0%, rgb(58, 164, 183) 100%); */
    background: url('https://images.unsplash.com/photo-1613909207039-6b173b755cc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1547&q=80') center/cover no-repeat;
    overflow: hidden;
    color:white;
}
.logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
}

.inner-header {
    height:70vh;
    width:100%;
    margin: 0 0 0 2rem;
    padding: 0;
}

.flex { 
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
.header-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    color: white;
    z-index: 999999999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease-out;
}
.header-nav-logo{
    font-family: 'Playfair Display', serif;
    font-weight:300;
    font-size: 25px;
    margin-left: 2rem;
}
.header-nav-logo:hover{
    cursor: pointer;
    opacity: .8;
}
.header-nav-items{
    display: flex;
}
.header-nav-item{
    margin-right: 2rem;
}
.header-nav-item:hover{
    cursor: pointer;
    opacity: .8;
}

.phone-header-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(70, 70, 70);
    z-index: 999999999999;
    display: none;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.phone-header-nav-logo{
    font-family: 'Playfair Display', serif;
    font-weight:300;
    font-size: 20px;
    margin-left: 2rem;
}
.phone-header-nav-logo:hover{
    cursor: pointer;
    opacity: .8;
}
.phone-header-nav-item{
    margin-right: 2rem;
}
.phone-header-nav-item:hover{
    cursor: pointer;
    opacity: .8;
}
.wrapper{
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}
.topic{
    width: 100%;
    display: flex;
    justify-content: center;
}
.topic-container{
    width: 1500px;
}
.title{
    border-left: thick double rgb(58, 164, 183);
}
.topic-col{
    margin-bottom: 2rem;
    padding: 0 1.5rem 0 1.5rem !important;
}
.topic-col-item{
    cursor: pointer;
}
.topic-col-item-head{
    width: 100%;
    height: 280px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.topic-col-item-head img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
}
.topic-col-item:hover img{
    transform: scale(110%);
}
.topic-col-item:hover .topic-col-item-description-top{
    color: rgb(255, 123, 70);
}
.topic-col-item-description{
    width: 100%;
    height: 180px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: thick double rgb(58, 164, 183);
    background: rgb(240, 240, 240);
    padding: 0 1rem 0 1rem;
}
.topic-col-item-description-top{
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    transition: all .5s ease;
}
.topic-col-item-description-bot{
    height: 50%;
    display: flex;
    line-height: 1.7rem;
}
.archive{
    width: 100%;
    text-align: center;
}
.archive-container-title img{
    width: 48px;
}
.swiper-container{
    width: 100%;
    height: 350px;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper:hover{
    cursor: grab;
}
.swiper:active{
    cursor: grabbing;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    position: relative;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}
.swiper-slide-img{
    width: 98%;
    height: 98%;
    object-fit: cover;
    border-radius: 15px;
    transition: all .5s ease;
}
.swiper-slide-img:hover{
    transform: scale(97%);
}
.swiper-slide-description{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(20%, -50%);
    color: white;
    text-align: left;
}
.swiper-slide-description-top{
    font-size: 20px;
    font-weight: 700;
}
.swiper-slide-description-bot{
    opacity: .7;
}
.swiper-des{
    color: rgb(80, 80, 80, .5);
    display: none;
}
.swiper-button-next, .swiper-button-prev{
    opacity: .5;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
}
.calendar{
    width: 100%;
    display: none;
}
.calendar-container{
    width: 1540px;
    margin: 0 auto;
}
.calendar-container-main{
    width: 100%;
    height: 700px;
}
.calendar-container-main-head{
    display: flex;
}
.calendar-container-main-head-item{
    width: 225px;
    height: 80px;
    border: 1px solid black;
}
.calendar-container-main-head-item-top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}
.calendar-container-main-head-item-bot{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



































/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
    .flex { 
        justify-content: center;
    }
    .inner-header {
        margin: 0 0 0 0;
    }
    .header-nav{
        display: none;
    }
    .phone-header-nav{
        display: flex;
    }
    .topic-container{
        width: 500px;
    }
}
@media (max-width: 500px) {
    .topic-container{
        width: 90%;
    }
    .topic-col{
        margin-bottom: 1rem;
        padding: 0 !important;
    }
}
@media (max-width: 1170px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
    .swiper-container{
        width: 100%;
        height: 700px;
    }
    .swiper {
        width: 80%;
        height: 100%;
    }
    .swiper-slide img{
        width: 85%;
        height: 98%;
    }
    .archive{
        background-color: rgba(210, 210, 210, 0.2);
        padding-bottom: 2rem;
    }
    .swiper-slide-description{
        transform: translate(60%, -50%);
    }
    .swiper-des{
        display: block;
    }
}
@media (max-width: 850px) {
    .swiper {
        width: 90%;
        height: 100%;
    }
    .swiper-slide img{
        width: 100%;
        height: 98%;
    }
    .swiper-slide-description{
        transform: translate(20%, -50%);
    }
}
@media (max-width: 500px) {
    .swiper-button-next, .swiper-button-prev{
        display: none !important;
    }
}