<@charset "UTF-8";>
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}



ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

body {
	margin: 0;
	padding: 0;
	color: #222; 
	font-size : 14px; 
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "ÉÅÉCÉäÉI", Meiryo, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif; 

}

a{/*ÉäÉìÉNÇ≥ÇÍÇΩï∂éö*/
    color:#9f9;
    font-style:normal;
    text-decoration:underline;
}
a:link {/*ñ¢ñKñ‚ÇÃÉäÉìÉN*/
    color:#006677;
    font-style:normal;
    text-decoration:underline;
}
a:visited {/*ñKñ‚å„ÇÃÉäÉìÉN*/
    color:#006677;
    text-decoration:underline;
}
a:hover {/*É}ÉEÉXÇÇÃÇπÇΩÇ∆Ç´*/
    color:#114455;
    font-style:normal;
    font-weight:bold;
    text-decoration:underline;
}
a:active {/*ÉNÉäÉbÉNíÜ*/
    text-decoration:none;
    font-weight:bold;
}




h1 { margin: 0; padding: 10 ;  line-height:150%;}
h2 { margin: 0; padding: 10 ;  line-height:150%;}


.main {
    clear: both;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 5px 0 20px;
    background: #dcfff5;
    line-height:150%;
}

.maincotnt {
    clear: both;
    width: 95%;
    margin: 5px auto;
    padding: 5px auto;
    background: #dcfff5;
    line-height:150%;
}


#menu{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}


#menu li{
  display: block;
  float: left;
  width:33.3%;
  margin: 0;
  padding: 10; }
#menu li a{
  display: block;
  padding: 12px 0 10px;
  background: #262;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
#menu li a:hover{
    background: #005533;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
#toggle{ 
 display: none;
}

/* 
-------------------------------------------------- */

#h_logo {background:#333;color:#FFF;margin:0;padding:0;text-align:center;}
#h_logo p {margin:0;padding:0;}
#h_logo p img {max-width:600px;width:100%;margin:0;padding:0;}

#mainbox {width:100%;max-width:766px;margin:0 auto 80px auto;text-align:left;}

h1 {font-size:28px;text-align:center;margin-top:30px !important;}}
h1 i {font-size:40px;margin-right:10px;}

#mailform{
  width: 100%;
  margin: 0 auto;
  padding: 10px auto;
  border-top:1px solid #666;
}


@media only screen and (max-width: 767px) {
    #mainbox {width:90%;max-width:auto;}
    h1 {font-size:24px;letter-spacing:-0.01em;}
}


/* ÉtÉHÅ[ÉÄì‡
-------------------------------------------------- */
.tbl-mail {
    width: 100%;
    margin: 0 auto;
    padding-top:30px;
    border: 0;
}

.tbl-mail dt {
    margin:0;
    padding:5px 0;
    font-weight:bold;
}
    
 .tbl-mail dd {
    margin:0 0 15px 0;
    padding:5px 0;
}

 .tbl-mail dd input,
 .tbl-mail dd select,
 .tbl-mail dd textarea{
    border:1px solid #fd82c4;
    height:35px;
    width:100%;
}
 .tbl-mail dd select {
    width:50%;
}
 .tbl-mail dd textarea {
    height:100px;
}


.send-button {
    text-align:center;
    padding-top:30px;
}
.send-button input{
    width:40%;
    text-align:center;
    background:#ffe4f3;
    padding:15px 10px;
    border:1px solid #666;
    font-weight:bold;
    font-size:16px;
    cursor:pointer;
    opacity: 1;
    transition: .3s;
    box-shadow: 2px 2px 3px #666666;
}
.send-button input:hover {
  box-shadow: none;
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
    .tbl-mail dd select {width:80%;}
}
